/* CUSTOM STYLE */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	background: #fafafa;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #555;
}
a:hover {
	text-decoration: none;
}
table {
	background: #fff;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
	border-radius: 0px;
	height: 32px;
	padding: 2px 8px;
}
textarea {
	min-height: 60px;
}
.form-control:focus {
	box-shadow: none;
}
.btn:hover {
	background-color: #333;
	color: #fff;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

/* tabs */

.nav-tabs {
	margin: 25px 0 10px;
	border-bottom: 1px solid #DDD;
}
.nav-tabs li a {
	color: #999;
	font-family: Lato, 'Open Sans', Arial;
	text-transform: uppercase;
	padding: 6px 25px;
	letter-spacing: 0.5px;
}
.nav-tabs > li {
	margin-bottom: -1;
}
.nav-tabs > li:hover a {
	background: transparent;
	border-color: transparent;
	color: #333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active:hover > a {
	color: #333;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
	border-top-width: 1px;
	background: transparent;
	padding: 6px 25px;
	margin-top: 0px;
	font-size: 12px;
	letter-spacing: 1px;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	color: #333;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
	border-top-width: 1px;
	background: transparent;
	padding: 6px 25px;
	margin-top: 0px;
	font-size: 12px;
	letter-spacing: 1px;
}

/* required field */
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

/* drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background: #333;
}

/* heading */

h1, h1 a, h2, h2 a, legend {
	font-size: 14px;
	font-weight: 400;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-family: 'Lato', 'Open Sans',sans-serif;
}
h1, h1 a {
	font-size: 18px;
}
.heading h2 {
	border-bottom: 1px solid #EEEEEE;
	color: #333;
	font-family: 'Lato', 'Open Sans',sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.heading {
	margin: 20px 0 10px;
	position: relative;
	text-align: left;
}
.heading:after {
	background: none repeat scroll 0 0 #ddd;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 23px;
	width: 100%;
	z-index: -1;
}
.heading h2 {
	padding: 0 0 6px;
	display: inline-block;
	letter-spacing: 2px;
	border: none;
	margin: 0px;
	background: transparent;
	z-index: 100;
	position: relative;
	border-bottom: 1px solid #333;
}

/* top */
#top {
	font-size: 12px;
	color: #bbb;
	background: #222;
	font-weight: 400;
}

#top .container {
	padding: 0px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background: #229ac8;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #444;
}
#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}
#top-links {
	padding-top: 6px;
	margin-right: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
#top-links .dropdown.open a{
	background: none;
}
#top #categoryBtn {
    border: 0px;
    border-radius: 0px;
    background: #222;
    margin: 0px 4px 0px 0px;
    width: 45px;
    height: 45px;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}
@media (max-width: 767px) {
	#top #categoryBtn{
		display: block;
	}
}

#top #categoryBtn .hide{
	display: none;
}
#top #top_menu_account {
	top: 24px;
	border: none;
	border-radius: 0;
	margin: 1px 0 0;
}
#top_menu_account li a {
	color: #888!important;
}
#top_menu_account li a:hover{
	color: #444444!important;
}
/* logo */
#logo {
	margin: 0;
	display: flex;
}
#logo a {
	margin-left: 14px;
}
#logo img {
	display: inline-block;
	max-height: 50px;
	max-width: 128px;
}
#logo .title {
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 10px;
	font-family: "Lato", Arial;
	letter-spacing: 10px;
}

/* search */
#search-container{
	position: relative;
}
#search {
	position: absolute;
	top:5px;
	right: -5px;
	z-index: 9999;
	display: none;
}
#search input{
    position: absolute;
    top: 0px;
    right: 25px;
    width: 200px;
    height: 29px;
    z-index: 9999;
}
#search button{
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px;
    z-index: 9999;
}
#search-container:hover #search{
	display: inline-block;
    -webkit-animation: display-search-box 0.25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: display-search-box 0.25s; /* Firefox < 16 */
        -ms-animation: display-search-box 0.25s; /* Internet Explorer */
         -o-animation: display-search-box 0.25s; /* Opera < 12.1 */
            animation: display-search-box 0.25s;
}
#search:hover{
	display: block;
}

@keyframes display-search-box {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes display-search-box {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes display-search-box {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes display-search-box {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes display-search-box {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* cart */
#top #cart {
	position: relative;
}
#top #cart #location_cart_link {
	border:none;
	background: none;
}
#top #cart #top_menu_cart {
	background-color: #fff;
	position: absolute;
	border-radius: 0px;
	border: none;
	width: 320px;
	padding-top: 7px;
	margin: 0px;
	display: none;
}
#top_menu_cart tr:first-child td{
	border-top: none;
}
#top_menu_cart td{
	padding: 1px;
	font-size: 12px;
}
#top_menu_cart td.middle{
	vertical-align: middle;
}
#top_menu_cart td .btn-remove {
	color: #ffffff;
	text-shadow: none;
	background: #da4f49;
	border: 0px;
	width: 20px;
	height: 20px;
	padding: 0px;
}
#top_menu_cart table.total{
	width: 97%;
	margin: 0px 5px 0px 5px;
}
#top_menu_cart table.total tr{
	border-top: 1px inset;
}
#top_menu_cart table.total td.total-number{
	width: 50px;
}
#top_menu_cart .button-group {
	text-align: right;
	padding: 0px 10px 5px 15px;
}
#top #top_menu_cart_icon {
	position: relative;
}
#top #top_menu_cart_icon:hover {
	color: #444;
	cursor: pointer;
}
#top #top_menu_cart_icon:hover #top_menu_cart{
	display: block;
}

@media (max-width: 767px) {
	#top {
		background: #222;
		margin-bottom: 10px;
		height: 46px;
	}
	#top .logo{
		position: absolute;
		left: 46px;
		height: 46px;
		background: url(../../../../../image/catalog/logo/cmn_logo_white_100x100.png);
		background-size: 40px 40px;
		background-repeat: no-repeat;
		padding-left: 45px;
		top: 5px;
		line-height: 40px;
		font-size: 16px;
	}
	#top .logo .title {
		text-transform: uppercase;
		font-family: "Lato", Arial;
		letter-spacing: 2px;
		color: #fff;
	}
	#top .container {
		background: #222;
		position: fixed;
		z-index: 1001;
		width: 100%;
		padding: 4px 0px 3px 0;
		top: 0px;
		height: 46px;
	}
	#top .container .fa{
		font-size: 18px;
	}
	#top-search-container {
		position: fixed;
		top: 46px;
		right: 0px;
		left: 0px;
	}
	#top-search-container #search{
		position: relative;
		top: 0px;
		right: 0px;
		z-index: 9999;
		width: 100%;
	}
	#top-search-container #search input{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 46px;
		width: 100%;
		height: 46px;
		z-index: 9999;
	}
	#top-search-container #search .input-group-btn{
		position: absolute;
		right: 0px;
		z-index: 9999;
	}
	#top-search-container #search button{
		position: absolute;
		width: 46px;
		height: 46px;
		right: 0px;
		z-index: 9999;
	}
	#menu .dropdown-inner a,
	#menu .see-all {
		margin-left: 20px;
	}
}

@media (max-width: 478px) {
	#top .logo{
		position: absolute;
		left: 46px;
		height: 46px;
		background: none;
		padding-left: 2px;
		top: 4px;
		line-height: 40px;
		font-size: 16px;
	}
	#top .logo .title {
		text-transform: uppercase;
		font-family: "Lato", Arial;
		letter-spacing: 2px;
		color: #fff;
		max-width: 100px;
		position: absolute;
		word-wrap: break-word;
		line-height: 18px;
	}
}

#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu table,
#cart .dropdown-menu tr,
#cart .dropdown-menu td,{
	background: none;
}

#cart .dropdown-menu li p {
	margin: 20px 0;
}

/* menu */
.header {
	padding: 30px 15px 30px;
	background: transparent;
}

.header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
	transition: all 0.5s ease;
	background: #FFF;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.3);
	padding: 10px;
}
#menu.smallScreen {
	display: block;
}
#menu #menuCategory{
	padding: 0px;
}
@media (max-width: 767px) {
	#categoryContainer {
		position: fixed;
		padding: 0px;
		top: 46px;
		width: 100%;
		z-index: 1001;
	}
	#categoryContainer ul{
		margin: 0px;
	}
	#categoryContainer ul li{
		border-top: 1px solid;
		border-color: rgba(255, 255, 255, 0.35);
	}
	#categoryContainer ul li ul li{
		border: 0px;
	}
	#categoryContainer div{
		padding: 0px;
	}
	#categoryContainer #menu{
		margin: 0px;
	}
	#menu.smallScreen {
		display: none;
	}
	#menuCategory{
		background: #fff;
	}
}
#menu {
}
#menu .nav > li {
	padding: 10px 0;
}
#menu .nav > li:hover {
	background: #fafafa;
	color: #333;
}
#menu .nav > li > a {
	text-shadow: none;
	font-family: Lato, 'Open Sans', Helvetica, Arial;
	color: #777;
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 20px;
	position: relative;
	padding: 0px 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	z-index: 6;
}
#menu .nav > li > a:hover {
	background: transparent;
}
#menu .nav li b {
	color: #969696;
	font-size: 8px;
	line-height: 12px;
	margin-bottom: 5px;
	margin-left: 2px;
	vertical-align: middle;
	margin-left: 7px;
}
#menu .dropdown-menu {
	padding: 0px;
	border-radius: 0px;
	border: none;
	border-top: 1px solid #e8e8e8;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a,
#menu .see-all {
	min-width: 160px;
	display: block;
	padding: 8px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 13px;
}
#menu .dropdown-inner li a:hover {
	color: #fff;
}
#menu .see-all {
	border-top: 1px solid #DDD;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background: #333;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: none;
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background: #229ac8;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #222;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer h5 {
	font-size: 12px;
	color: #eee;
	font-family: 'Lato','Open sans', Helvetica, Arial;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	letter-spacing: 1px;
}
footer a,
footer a:hover {
	color: #fff;
	opacity: 0.5;
}
footer a:hover {
	opacity: 1;
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 0px;
	border-radius: 0px;
	background: transparent;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: none;
	position: relative;
	white-space: nowrap;
}
.breadcrumb a {
	color: #999;
}
.breadcrumb a:hover {
	color: #333;
}
@media (max-width: 767px) {
	.breadcrumb {
		margin: -9px -15px 5px -14px;
		padding: 8px 0;
		border: 0px;
		border-radius: 0px;
		background: #ececec;
	}
	.breadcrumb > li {
		text-shadow: none;
		padding: 0 5px 0 5px;
		position: relative;
		white-space: nowrap;
	}
	.breadcrumb > li:before {
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		right: -3px;
		width: 0px;
		height: 26px;
		border-right: 1px solid #DDD;
		border-bottom: 0px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.breadcrumb>li+li:before {
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		right: -3px;
		width: 0px;
		height: 26px;
		border-right: 1px solid #DDD;
		border-bottom: 0px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@media (max-width: 320px) {
	.breadcrumb {
		margin: -9px -42px 5px -14px;
		padding: 8px 0;
		border: 0px;
		border-radius: 0px;
		background: #ececec;
		min-width: 320px;
	}
}

/* pagination */
.pagination {
	margin: 0;
	border-radius: 0px;
}
.pagination>li>a, .pagination>li>span {
	color: #555;
}
.pagination li:first-child>a, .pagination>li:first-child>span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.pagination>li>a, .pagination>li>span {
	border: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #999;
}
.pagination > li > a:hover {
	background: #333;
	color: #FFF;
}

/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	background-color: #e7e7e7;
	border:0px;
}
.btn-primary {
	color: #ffffff;
	text-shadow: none;
	background: #000;
	border: 0px;
}
.button, .btn, .btn-primary, #button-confirm {
	transition: all 0.3s ease 0s;
}
.btn-primary:hover {
	background-color: #AAA;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled {
	background-color: #e7e7e7;
	color: #777;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: none;
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: none;
	background-color: #da4f49;
	border: 0px;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: none;
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: none;
	background-color: #df5c39;
	border: 0px;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: none;
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}

/* list group */
.list-group-item {
	background: transparent;
	color: #333;
	padding: 10px 5px;
	border-radius: 0px;
	border: 0px;
	font-size: 15px;
	border-top: 1px solid #ddd;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	border-top-color: #ddd;
	color: #333;
	background: transparent;
	text-shadow: none;
}
.list-group a.active:hover, .list-group a:hover {
	color: #999;
}
.list-group-item:first-child {
	border-radius: 0;
}
.list-group-item:last-child{
	border-radius: 0;
}
.list-group > ul > li > .list-group-item { /* children item */
	border: none;
	font-size: 13px;
	padding: 6px 5px;
}

/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: none;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

/* product list */
.product-thumb {
	margin-bottom: 20px;
	overflow: auto;
	text-align: center;
}
.product-thumb a {
	font-weight: normal;
	color: #333;
	font-family: Lato, 'Open Sans', Arial;
}
.product-thumb .image {
	text-align: center;
	overflow: hidden;
}
.product-thumb .image a {
	display: block;
	transition: all .2s ease-in-out;
}
.product-thumb .image a:hover {
	transform: scale(1.1);
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
	overflow: hidden;
}
@media (min-width: 767px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0px;
		margin: 0px 10px 0px 0px;
	}
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 100px;
	text-transform: uppercase;
}
.product-thumb .caption a {
	font-family: Lato,'Open Sans', Arial;
	font-size: 12px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
.product-list .product-thumb .caption a {
	font-size: 14px;
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 100px;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #9C9C9C;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #9C9C9C;
}

.product-info .heading-title {
	color: #333;
	text-transform: capitalize;
	font-size: 26px;
}
.product-info .price {
	font-weight: bold;
	font-size: 24px;
	color: #22272A;
}
.product-thumb .price {
	color: #444;
	color: #22272A;
	font-size: 20px;
	font-weight: 600;
}
.product-info .price-tax {
	display: none;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: none;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 0px;
}
.thumbnails {
	margin-left: 0px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
	#column-left  .product-layout .col-md-3 {
	   width: 100%;
	}
	#column-left + #content .product-layout .col-md-3 {
	   width: 50%;
	}
	#column-left + #content + #column-right .product-layout .col-md-3{
	   width: 100%;
	}
	#content + #column-right .product-layout .col-md-3{
	   width: 100%;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
@media (max-width: 319px) {
	.row {
		margin-right: 20px;
		margin-left: -20px;
	}
}
#product-gallery {
	display:inline-block;
}
#product-gallery #product-gallery-container{
	display:block;
}
#product-gallery #order-color-product-list{
	margin: 5px 0;
	display:block;
}

#product-gallery #order-color-product-list .order-color-item{
	margin:1px;
	display:inline-block;
	vertical-align: bottom;
}

hr.low {
	margin-top: 5px;
	margin-bottom: 5px;
}

.category-order-limit select{
	border-radius: 0px;
	height: 24px;
	padding: 2px 8px;
	display: inline-block;
}
@media (min-width: 767px) {
	.category-order-limit select#input-sort {
		width: 50%;
	}
	.category-order-limit select#input-limit {
		width: 50%;
	}
}
.category-order-limit label{
	display: inline-block;
}
.bottom-sub-category{
	padding: 0px 0px 0px 0px;
}
.bottom-sub-category, ul{
	list-style-type: none;
	padding: 0px 0px 0px 10px;
}

/* category filter */
.category-filter {}
.category-filter .heading{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: transparent;
	padding: 10px 5px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
.category-filter .heading:after {
	display: none;
}
.category-filter .list-group-filter{
}
.category-filter a.list-group-item{
	border-bottom: 1px solid #dcdcdc;
}
.category-filter a.list-group-item:hover {
	background: transparent;
}
.category-filter div.list-group-item{
	background: none;
	padding: 2px 15px 2px 5px;
	border-radius: 0px;
	border:0px;
}

/* refine categories */

.refine-categories h3 {
	font-size: 13px;
	font-family: Lato, 'Open Sans';
}
.refine-categories ul {
	padding-left: 6px;
}
.refine-categories a {
	color: #777;
}
.refine-categories .few li {
	display: inline-block;
	margin-right: 25px;
}

/* product_list_toolbar */

.product-list-toolbar {
	background: #F5F5F5;
	padding: 5px 10px;
}
.product-list-toolbar > div:first-child {
	padding-left: 0;
}
.product-list-toolbar div {
	white-space: nowrap;
}
.product-list-toolbar .view-option-btn-group {
	margin-right: 10px;
}
.product-list-toolbar .btn.btn-type-view {
	border: none;
	background: transparent;
	color: #999;
}
.product-list-toolbar .compare-total {
	display: inline-block;
	vertical-align: middle;
}
.product-list-toolbar label, .product-list-toolbar select {
	margin: 0;
	line-height: 32px;
	height: 32px;
}
.product-list-toolbar .text-right {
	padding-left: 0;
}
.product-list-toolbar select,
.product-list-toolbar select:focus {
	background: #FFF;
	border: 1px solid #EEE;
	box-shadow: none;
}

/* cart input form */
.cart-input {
	white-space: nowrap;
}
.cart-input > * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.cart-input #input-quantity,
.cart-input .btn {
	width: auto;
}
.cart-input #input-quantity {
	height: 30px;
}
.cart-input #button-cart {
	padding: 8px 25px;
	font-size: 11px;
	margin: 0px;
}
.product-wish-compare {
	margin-left: 15px;
}
.product-wish-compare button {
	background: #fff;
	font-size: 11px;
	border: none;
}


fieldset#account label,
fieldset#address label,
fieldset#password label,
fieldset#personal-detail label{
	padding: 3px 0px 0px 0px;
}

label.radio-inline{
	padding-right: 15px!important;
	padding-left: 15px!important;
}

/* slide at home page */
.owl-carousel {
	margin: 20px 0 40px 0 !important;
}

/* social login */
.social-login i.fa { /* icon */
	margin-right: 10px;
}
.btn-facebook-login,
.btn-facebook-login:focus {
	background: #3B5998;
	color: #fff;
	border: none;
}

/* login dialog */

#login-dialog {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 400px;
  margin: 20px auto;
}
#login-dialog .btn {
	font-size: 14px;
	border: none;
}
#login-dialog .password-forgotten {
	text-align: right;
	padding-top: 5px;
}
#login-dialog .login-footer {
	margin: 20px -20px -20px -20px;
	padding: 15px;
	background: #f0f0f0;
	text-align: center;
}
#login-dialog .register-account {
	font-weight: bold;
}