body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #229ac8;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	border-radius: 0px;
    height: 24px;
    padding: 2px 8px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background: #229ac8;
}
/* top */
#top {
	background: none;
	padding: 4px 0px 3px 0;
	margin: 0px;
	max-height: 36px;
}

#top .container {
	padding: 0px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background: #229ac8;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #444;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
	margin-right: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
#top-links .dropdown.open a{
	background: none;
}
#top #categoryBtn {
    border: 0px;
    border-radius: 0px;
    background: #229ac8;
    margin: -4px 4px 0px -1px;
    width: 35px;
    height: 35px;
    color: #ffffff;
}
#top #categoryBtn .hide{
	display: none;
}
#top #top_menu_account {
    background-color: #F9F5F5;
    top: 24px;
    border: 1px solid;
    border-color: rgba(0, 0, 139, 0.1);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 1px 0 0;
}
#top_menu_account li a {
	color: #888!important;
}
#top_menu_account li a:hover{
    color: #444444!important;
}
/* logo */
#logo {
	margin: 0;
	display: flex;
}
#logo a {
    margin-left: 14px;
}
#logo img {
    max-height: 28px;
    max-width: 128px;
}
/* search */
#top #search {
	position: absolute;
    top: -20px;
    right: 48px;
    width: 290px;
}
#top #search table{
	width: 100%;
}
#top #search input {
    border-radius: 0px;
    border: 1px solid;
    border-color: rgba(0, 0, 139, 0.1);
	height:28px;
}
#top #search button {
    border-radius: 0px;
    padding: 5px 8px;
    border: 1px;
}
#top #top_menu_search {
	position: relative;
}
#top #top_menu_search a{
	display: none;
}
@media (max-width: 767px) {
	#top #search {
		position: absolute;
		right: -129px;
	    top: 26px;
	    z-index: 1000;
	    width: 100%;
	}
	#top #search table{
		width: 100%;
	}
	#top #search input {
		height:40px;
	}
	#top #search .button{
		width: 16px;
	}
	#top #search button{
		padding: 11px 16px;
	}
	#top #top_menu_search a{
		display: block;
	}
}

#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
}
/* cart */
#top #cart {
    position: relative;
    min-width: 24px;
}
#top #cart #location_cart_link {
	border:none;
	background: none;
}
#top #cart #top_menu_cart {
    background-color: #fff;
    position: absolute;
    top: 26px;
    right: -72px;
    border: 1px solid rgba(0, 0, 139, 0.1);
    border-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 320px;
    display: none;
    padding: 0px;
    margin: 0px;
}
#top_menu_cart td{
	padding: 1px;
    font-size: 12px;
}
#top_menu_cart td.middle{
	vertical-align: middle;
}
#top_menu_cart td .btn-remove {
    color: #ffffff;
    text-shadow: none;
    background: #da4f49;
    border: 0px;
    width: 20px;
    height: 20px;
    padding: 0px;
}
#top_menu_cart table.total{
	width: 97%;
	margin: 0px 5px 0px 5px;
}
#top_menu_cart table.total tr{
    border-top: 1px inset;
}
#top_menu_cart table.total td.total-number{
	width: 50px;
}
#top_menu_cart .button-group {
    text-align: right;
    padding: 0px 10px 5px 15px;
}
#top #top_menu_cart_icon {
	position: relative;
}
#top #top_menu_cart_icon.hover {
	height: 30px;
	color: #444;
	cursor: pointer;
}
#top #top_menu_cart_icon.hover #top_menu_cart{
	display: block;
}

@media (max-width: 767px) {
	#top {
		background: #229ac8;
		margin-bottom: 10px;
		height: 36px;
	}
	#top .container {
		background: #229ac8;
	    position: fixed;
	    z-index: 1001;
	    width: 100%;
		padding: 4px 0px 3px 0;
		top:0px;
		max-height: 36px;
	}
	#top #top_menu_search a,
	#top #location_cart_link,
	#top #top_menu_contact_link a,
	#top #top_menu_account_link a,
	#top #top_menu_wishlist_link a{
		color: #ffffff;
	}
}

@media (max-width: 319px) {
	#top .container {
		background: #229ac8;
	    position: absolute;
	    z-index: 1001;
	    width: 100%;
		padding: 4px 0px 3px 0;
		top:0px;
		max-height: 36px;
		min-width: 320px;
	}
}

#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu table,
#cart .dropdown-menu tr,
#cart .dropdown-menu td,{
	background: none;
}

#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#categoryContainer {
	background-color: #229ac8;
	max-height: 40px;
	margin-bottom: 10px;
}
#menu.smallScreen {
	display: block;
}
#menu #menuCategory{
	padding: 0px;
}
@media (max-width: 767px) {
	#categoryContainer {
	    position: fixed;
		padding: 0px;
	    top: 36px;
	    width: 100%;
	    z-index: 1001;
	}
	#categoryContainer ul{
		margin: 0px;
	}
	#categoryContainer ul li{
		border-top: 1px solid;
	    border-color: rgba(255, 255, 255, 0.35);
	}
	#categoryContainer ul li ul li{
		border: 0px;
	}
	#categoryContainer div{
		padding: 0px;
	}
	#categoryContainer #menu{
		margin: 0px;
	}
	#menu.smallScreen {
		display: none;
	}
}
#menu {
	background-color: #229ac8;
	min-height: 36px;
	margin-bottom: 10px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: none;
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.5);
}
#menu .dropdown-menu {
	padding-bottom: 0px;
	border-radius: 0px;
	box-shadow: none;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background:#229ac8;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: none;
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background: #229ac8;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 0px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}b
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}

footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #686868;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 0px;
	border-radius: 0px;
	background: #ececec;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: none;
	padding: 0 10px 0 10px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
    top: -3px;
    right: -3px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
@media (max-width: 767px) {
	.breadcrumb {
	    margin: -9px -15px 5px -14px;
	    padding: 8px 0;
	    border: 0px;
	    border-radius: 0px;
	    background: #ececec;
	}
	.breadcrumb > li {
	    text-shadow: none;
	    padding: 0 5px 0 5px;
	    position: relative;
	    white-space: nowrap;
	}
	.breadcrumb > li:after {
		content: '';
	    display: block;
	    position: absolute;
	    top: -3px;
	    right: -3px;
	    width: 26px;
	    height: 26px;
	    border-right: 1px solid #DDD;
        border-bottom: 0px;
    	-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@media (max-width: 320px) {
	.breadcrumb {
	    margin: -9px -15px 5px -14px;
	    padding: 8px 0;
	    border: 0px;
	    border-radius: 0px;
	    background: #ececec;
	    min-width: 320px
	}
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	background-color: #e7e7e7;
	border:0px;
}
.btn-primary {
	color: #ffffff;
	text-shadow: none;
	background: #229ac8;
	border: 0px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: none;
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: none;
	background-color: #da4f49;
	border: 0px;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: none;
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: none;
	background-color: #df5c39;
	border: 0px;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: none;
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	background: #ECECEC;
	color: #229ac8;
	padding: 8px 12px;
	border-radius: 0px;
	border: 0px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #CEC9C9;
	border: 0px;
	text-shadow: none;
	border-radius: 0px;
}
.list-group-item:first-child,
.list-group-item:last-child{
	border-radius: 0px;	
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: none;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 100px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 100px;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 0px;
}
.thumbnails {
	margin-left: 0px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
@media (max-width: 319px) {
	.row {
	    margin-right: 20px;
	    margin-left: -20px;
	}
}
#product-gallery {
    display:inline-block;
}
#product-gallery #product-gallery-container{
    display:inline-block;
}
#product-gallery #order-color-product-list{
    display:inline-block;
}

#product-gallery #order-color-product-list .order-color-item{
    margin:1px;
    display:inline-block;
    vertical-align: bottom;
}

.btn.btn-type-view {
    border: 0px;
    margin: -10px 0 0 1px!important;
}

hr.low {
    margin-top: 5px;
    margin-bottom: 5px;
}

.category-order-limit select{
    border-radius: 0px;
    height: 24px;
    padding: 2px 8px;
	display: inline-block;
}
@media (min-width: 767px) {
	.category-order-limit select#input-sort {
		width: 50%;
	}
	.category-order-limit select#input-limit {
		width: 50%;
	}
}
.category-order-limit label{
	display: inline-block;
}
.bottom-sub-category{
	padding: 0px 0px 0px 0px;
}
.bottom-sub-category, ul{
	list-style-type: none;
	padding: 0px 0px 0px 10px;
}

.category-filter {}
.category-filter .heading{
    background: #ECECEC;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.category-filter .list-group-filter{
    background: #ECECEC;
}
.category-filter a.list-group-item{
    background: #CEC9C9;
    padding: 2px 15px 2px 15px;
    border-radius: 0px;
    border:0px;
}
.category-filter div.list-group-item{
    background: none;
    padding: 2px 15px 2px 5px;
    border-radius: 0px;
    border:0px;
}

fieldset#account label,
fieldset#address label,
fieldset#password label,
fieldset#personal-detail label{
	padding: 3px 0px 0px 0px;
}

label.radio-inline{
	padding-right: 15px!important;
    padding-left: 15px!important;
}