<div class="panel panel-default">
  <div class="panel-body" style="text-align: right;"><a href="<?php echo $payment_url; ?>" title="PayPal Express Checkout" style="text-decoration:none;" class="pp-express-button">
    <?php if ($mobile) { ?>
    <img src="catalog/view/theme/custom/image/paypal_express_mobile.png" style="margin:10px; float:right;" alt="PayPal Express Checkout" title="PayPal Express Checkout" />
    <?php }else{ ?>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" />
    <?php } ?>
    </a> </div>
</div>
