/* jssor slider arrow navigator skin 10 css */
/*
.jssora10l                  (normal)
.jssora10r                  (normal)
.jssora10l:hover            (normal mouseover)
.jssora10r:hover            (normal mouseover)
.jssora10l.jssora10ldn      (mousedown)
.jssora10r.jssora10rdn      (mousedown)
*/
.jssora10l, .jssora10r {
    display: block;
    position: absolute;
    /* size of arrow element */
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 2px;
}
.jssora10l .img{ 
    background: url(./slider-19.0/img/left_arrows32.png) no-repeat;
    width: 32px;
    height: 32px;
}
.jssora10r .img{ 
    background: url(./slider-19.0/img/right_arrows32.png) no-repeat;
    width: 32px;
    height: 32px;
}
.jssora10l:hover { background-color: rgba(0, 0, 0, 0.5) }
.jssora10r:hover { background-color: rgba(0, 0, 0, 0.5) }
.jssora10l.jssora10ldn { background-position: -256px -39px; }
.jssora10r.jssora10rdn { background-position: -316px -39px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 {
    position: absolute;
    width: 80px!important;
    height: 480px!important;
    overflow: hidden!important;
    margin: 1px;
    display: inline-block;
}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 96px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 96px;
    border: #000 0px solid;
    box-sizing: content-box;
    /*background: url(./slider-19.0/img/t01.png) -320px -320px no-repeat;*/
    _background: none;
}

.jssort01 .pav .c {
    top: 0px;
    _top: 0px;
    left: 0px;
    _left: 0px;
    width: 64px;
    height: 96px;
    border: #000 0px solid;
    _border: #fff 0px solid;
    background-color: rgba(0, 0, 0, 0.3);
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 96px;
    border: #fff 0px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 64px;
    height: 96px;
    border: #000 0px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 64px;
    height /**/: 96px;
}

#product-gallery-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 410px;
    height: 480px;
    background: none;
    overflow: hidden;
}

#product-gallery-container #thumbnavigator {
    width: 80px;
    height: 480px;
    top: 0px;
    left: 0px;
}
#thumbnavigator .slides{
    cursor: default;
    width: 64px!important;
    top:0px!important;
}

#thumbnavigator .slides img{
    width: 64px!important;
    height: 96px!important;
}

#product-gallery-container #arrowleft {
    top: 222px;
    left: 84px;
}
#product-gallery-container #arrowright {
    top: 222px;
    right: 14px
}
#product-gallery-container .loading {
    position: absolute;
    top: 0px;
    left: 0px;"
}
#product-gallery-container .loading-filter {
    filter: alpha(opacity=70);
    opacity:0.7;
    position: absolute;
    display: block;
    background-color: #000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}
#product-gallery-container .loading-img {
    position: absolute;
    display: block;
    background: url(./slider-19.0/img/spinner.gif) no-repeat center center;
    background-size: 24px 24px;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}
#product-gallery-container #product-image-list {
    cursor: move;
    position: absolute;
    top:0px;
    left: 80px;
    width: 320px!important;
    height: 480px!important;
    overflow: hidden;
}

@media (min-width: 320px) {
    #product-gallery-container{
        margin-left: -10px;
    }
}

.fullsize{
    position: fixed;
    width: 100%!important;
    height: 100%!important;
}

#product-gallery a.popup-modal {
    position: absolute;
    top: 3px;
    right: 15px;
    padding: 5px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
#product-gallery a.popup-modal:hover {
    background: rgba(0, 0, 0, 0.5);
}
#product-gallery a.popup-modal.hover {
    display: block;
}

a.popup-modal .expand-icon {
    background: url(./jquery/magnific/img/expand.png) no-repeat;
    min-width: 24px;
    min-height: 24px;
}

a.popup-modal-dismiss {
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
}
a.popup-modal-dismiss:hover {
    background: rgba(0, 0, 0, 0.5);
}
a.popup-modal-dismiss .contract-icon {
    background: url(./jquery/magnific/img/contract.png) no-repeat;
    min-width: 24px;
    min-height: 24px;
    opacity: 0.6;
}

#popup-modal-container {
    padding: 10px;
    overflow: auto;
}

#popup-modal-slider {
    margin: auto;
    position: relative;
    background: none;
    overflow: hidden;
}
#popup-modal-slider #popup-arrowleft {
    top: 45%;
    left: 8px;
}
#popup-modal-slider #popup-arrowright {
    top: 45%;
    right: 8px
}
#popup-modal-slider .loading {
    position: absolute;
    top: 0px;
    left: 0px;"
}
#popup-modal-slider .loading-filter {
    filter: alpha(opacity=70);
    opacity:0.7;
    position: absolute;
    display: block;
    background-color: #000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}
#popup-modal-slider .loading-img {
    position: absolute;
    display: block;
    background: url(./slider-19.0/img/spinner.gif) no-repeat center center;
    background-size: 24px 24px;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
}
#popup-modal-slider #popup-image-list {
    cursor: move;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hide;
}

#popup-modal-slider #popup-image-list div{
    width: 100%!important;
    height: 100%!important;
}

#popup-modal-slider #popup-image-list img{
    width: auto;
    height: auto;
}